<!doctype html>
<html>
<head>
    <title>Ali Alavi</title>
    <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro%7CMonoton%7CSpace+Mono%7CUbuntu+Condensed%7CMegrim%7CGraduate%7CSpace+Mono" rel="stylesheet">
    <link href="css/global.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="img/favicon.ico">
</head>

<body>
    <h1>Ali Alavi</h1>
    <h3>[basics]</h3>

            <details open>
                <summary>Who am I</summary>
                <p>My name is Ali Alavi. I live in Toronto, Canada.</p>
            </details>

            <details open>
                <summary>What I like</summary>
                <p>To hack around. I love to code, and to build things. Sometimes I like to build stuff from bare metal, and recently I've been throwing some ML in the mix.
I like small, simple things that work well. Like a minimalistic web page, a small but well-documented library, or a simple yet brilliant algorithm:</p>
                	<pre>
  while (a != b):
    if a > b:
      a = a - b
    elif b > a:
      b = b - a
                	</pre>
<p>+ good wine, good food, good company.</p>

            </details>

            <details open>
                <summary>What I've done</summary>
                <p>I've worked with some startups in Scandinavia, Canada, US and the Middle East, in the fields of <a href="https://www.touchtech.com">interactive software</a>, embedded systems, and <a href="http://lipit.eu/">wearables</a>. I've also done some <a href="https://scholar.google.com/citations?user=Fz3BFGEAAAAJ&hl=en">research</a>, but I consider myself more of an engineer+hacker than an academic. </p>
            </details>

            <details open>
                <summary>What I'm working on</summary>
		    <p>I am working on a <a href="http://medaux.com">medtech startup</a>, and giving workshops on <a href="https://intelligi.ca">programming and data science</a>.</p>
            </details>

    <h3>[contact me]</h3>
    <p>Contant me if you have any cool project in mind and you think I can somehow contribute.</p>
    <ul>
        <li>alialavia [at] gmail/github/medium/twitter/facebook</li>
    </ul>
	<a href="cv.html">My CV</a>
    <footer>Ali Alavi</footer>
</body>
</html>