body {
  font-family: 'Space Mono', monospace;
  font-weight: normal;
  text-align: left; }

h3 {
  font-size: large;
  color: #CC4A14; }

p {
  color: #888888;
  font-size: small;
  font-weight: normal; }

@media print {
  a:link, a:visited, .contact:visited, .contact:link {
    color: black; }
  a:not(.contact):after {
    content: " [" attr(href) "]"; }
  .contact {
    text-decoration: none; }
  body {
    font-family: 'Times New Roman'; } }

a:visited {
  color: darkgray; }

a:link {
  color: red; }

pre {
  font-size: small; }

h1 {
  text-align: center; }

footer {
  font-family: 'Megrim', cursive;
  text-align: right;
  margin-top: 1em;
  margin-right: 1em; }

ul {
  list-style: none;
  padding: 0;
  font-size: smaller; }

ul li:before {
  content: "> "; }
